[Unit]
Description=Runs withings-cache daily

[Timer]
OnCalendar=*-*-* 08:00:01
OnCalendar=*-*-* 23:00:01
Unit=withings-cache.service

[Install]
WantedBy=timers.target
